# Application
PORT=3000
JOYPAY_BASE_URL=http://localhost:3000

# Database
DATABASE_URL="postgresql://username:password@localhost:5432/joy_pay?schema=public"

# Redis (optional for queue)
REDIS_HOST=localhost
REDIS_PORT=6379

# Security
HMAC_TOLERANCE_SECONDS=300
JWT_SECRET=super-secret-jwt-key-change-in-production
JWT_EXPIRATION=1d

# Payment Settings
PAYMENT_SANDBOX=true

# bKash Integration
BKASH_SANDBOX=true
BKASH_APP_KEY=4f6o0cjiki2rfm34kfdadl1eqq
BKASH_APP_SECRET=2is7hdktrekvrbljjh44ll3d9l1dtjo4pasmjvs5vl5qr3fug4b
BKASH_USERNAME=sandboxTokenizedUser02
BKASH_PASSWORD=sandboxTokenizedUser02@12345
BKASH_CALLBACK_URL=http://localhost:3000/api/v1/provider/bkash/callback

# Nagad Integration
NAGAD_SANDBOX=true
NAGAD_MERCHANT_ID=
NAGAD_MERCHANT_PRIVATE_KEY=
NAGAD_PG_PUBLIC_KEY=
NAGAD_CALLBACK_URL=http://localhost:3000/api/v1/provider/nagad/callback

